@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

div {
  background-color:#d3d4d9;
}

p {
  margin-top: 20px;
  padding-top: 2px;
  margin-bottom: 2px;
  font-family: 'Courgette', cursive;
  background-color:#dcb693;
}

.link {
  margin-top: 10px;
  font-family: 'Courgette', cursive;
}

.link:hover {
  font-family: 'Courgette', cursive;
}

a {
  background-color: #ebd2be;
  color: #3f2a2b !important;
  text-decoration: none !important
}

a:hover {
  background-color: #d5945e;
  color:#104f55 !important;
}
.card-index{
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: antiquewhite;
  color: aqua;
}

.col-2 {
  height: 6.4vh;
  width: auto;
}

.card-article {
  padding-left: 20px;

}

