{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>News on the Go</title> -->
</head>
<body>
  {% block content %}
  <h3> News Sources</h3>
    {% for source in source_list %}
    <div> 
      <li>
        <a href="/source/{{source.id}}">
          {{ source.name }}
        </a>
      </li>
    </div>
  {% endfor %}
  {% endblock%}
</body>
</html>