{% macro displayArticleList(article_list) %}

{% for article in article_list %}
  <div class="card">
    <h3>{{article.title}}</h3>
    <img class="card" src="{{article.urlToImage}}" alt="News Image">
    <div class="card-body">
      <h5 class="card-title">{{article.author}}</h5>
      <p class="card-text">{{article.description}}</p>
      <a href="{{article.url}}">
        <p class="card-text">read...</p>
      </a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Article date:{{article.publishedAt}}</small>
    </div>
  </div>
{% endfor %}

{% endmacro%}