<nav class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">  
      <a class="navbar-brand" href="/">News On the Go</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div> 
  </div>
</nav>